.img-logo{
    background: url(../Emmy_files/Emmy_Cee\ .jpg);
    width: 64px;
    height: 64px;
    border-radius: 64px;
}
a.navbar-brand{
    padding-left: 5px;
    font-size: 30px;
}
#Menu{
    background: url(../Emmy_files/images.1.png) no-repeat; 
    background-position: center;
}
#About{
    background: url(../Emmy_files/images.1.png) no-repeat; 
    background-position: center;
}
#Menu, #About, #map-tiles {
    border: 1px solid black;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
#Menu span, #About span, #map-tiles span{
position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6rem;
text-transform: uppercase;
background-color: #000;
color: #fff;
opacity: .8;
}
#Menu:hover, #About:hover, #map-tiles:hover{
    box-shadow: 0 1px 5px 5px #cccccc;
}
.panel-footer{
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #222;
    border-top: 0;
    color: #cccccc;
}
#birth-and-parentage{
    background: url(../Emmy_files/—Pngtree—date\ of\ birth\ icon\ vector_4979079.png);
    background-position: center;
}
#Education{
    background: url(../Emmy_files/1.png);
    background-position: center;
}
#Social-life{
    background: url(../Emmy_files/socials.png);
    background-position: center;
}
#Achievements{
    background: url(../Emmy_files/Achievements.png);
    background-position: center;
}
#Christianity{
    background: url(../Emmy_files/Christianity.png);
    background-position: center;
}
 #birth-and-parentage, #Education, #Social-life, #Achievements, #Christianity{
    border: 1px solid black;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
#birth-and-parentage span, #Education span, #Social-life span, #Achievements span, #Christianity span{
    position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6rem;
text-transform: uppercase;
background-color: #000;
color: #fff;
opacity: .8;
}
#birth-and-parentage:hover, #Education:hover, #Social-life:hover, #Achievements:hover, #Christianity:hover{
    box-shadow: 0 1px 5px 5px #cccccc;
}
.panel-footer div.row{
        margin-bottom: 35px;
}
#Availability, #Address{
    line-height: 2;
}
#Availability > span, #Address > span{
    font-size: 1.8em;
}
#Address p{
    color:#557c3e;
    font-size: 0.8em;
    line-height: 1.8;
}
#Testimonials{
    font-style: italic;
}
#Testimonials p:nth-child(2){
    margin-top: 25px;
}
iframe{
    border:0;
}
@media (min-width:425px) and (max-width: 768px){
a.navbar-brand{
    font-size: 18px;
}
}
@media (min-width: 375px) and (max-width: 425px){
    a.navbar-brand{
        font-size: 17px;
    }
}