#header-nav  li{
  float: right;
  margin-right: 30px;
  margin-top: 0;
  /* list-style: circle; */
  /* background-color: black; */
}
#header-nav{
  background-color: black;
}
footer a{
  border: 1px solid black;
  background-color: gray;
}
footer  a:nth-child(1){
  float: right;
}
h1, h3{
  text-align: center;
}
li:nth-child(1){
  list-style-type: disc;
}
header #header-nav{
  background-color: white;
  display: block;
  color: white;
  /* float: right; */
}
/* header  li{
  float: right;
} */
